{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>쯔위 유투브</title>
  <link rel="stylesheet" href="{% static 'css/base.min.css' %}?{% now 'c' %}">
  <link rel="stylesheet" href="{% static 'css/common.min.css' %}?{% now 'c' %}">
  <link rel="stylesheet" href="{% static 'css/search.min.css' %}?{% now 'c' %}">
</head>
<body>
  <div id="wrap">
    <h1>
      <a href="{% url 'index' %}">쯔위만 검색하자!</a>
    </h1>
	  <a href="{% url 'video:bookmark_list' %}">My Bookmark!</a>

    <div class="content-container">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>